body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #339497;
    padding: 10px 20px;
    color: #ffffff;
}
.logo h1 {
    margin: 0;
}
.nav-items, .actions {
    display: flex;
    align-items: center;
}
.nav-items ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.nav-items ul li a {
    text-decoration: none;
    color: white;
}
.actions a {
    color: white;
    margin-left: 20px;
    position: relative;
}
.actions img {
    width: 24px;
    height: 24px;
}
.badge {
    background-color: #838686;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 5px;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
}
.hero {
    text-align: center;
    padding: 15%;
    font-size: 1.5rem;
    background: url('p1.jpeg') no-repeat center center/cover;
    color: white;
}
.hero button {
    padding: 0.5rem 0.7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    background-color: #7c1111;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
.section {
    padding: 50px;
}
.grid {
    display: flex;
    gap: 20px;
}
.card {
    background-color: #9fa3a399;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #339497;
    color: white;
}